@charset "UTF-8";

:root{
    --cor-vermelho: #72030b;
    --cor-vermelho-2: #e91523;
    --cor-amarelo: #F4BC1D;
    --cor-preto: #100000;
    --cor-rosa: #a8574e;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor-rosa);
    height: 100vh;
    width: 100vw;
}

body::-webkit-scrollbar{
    width: 0px;
}

header, nav{
    background-image: linear-gradient(45deg, var(--cor-vermelho), var(--cor-vermelho-2));
    width: 100%;
}

header > nav > div#imagem-cabecalho{
    align-content: center;
    align-items: center;
    background-color: var(--cor-rosa);
    display: flex;
    flex-direction: column;
    padding: 42px 12px 30px 12px;
    transition: filter .91s;
}

header > nav > div#imagem-cabecalho > img{
    transition: width 1s;
}

header > nav > div#imagem-cabecalho > span{
    color: white;
    font-weight: bold;
    line-height: 1.3em;
    padding: 10px 14px;
    text-align: center;
}

header > nav > div#menu-grande > div#menus-grande > a{
    border-radius: 10px;
    color: white;    
    padding: 14px 1em;
    text-decoration: none;
}

header > nav > div#menu-grande > div#menus-grande > a:hover{
    background-color: var(--cor-rosa);
    transition-duration: .3s;
}

main, article{
    background-color: white;
}

main{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.349);
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    padding: 12px 1em;
    transition: filter .91s, max-width .91s;
}

main > article > h1{
    color: var(--cor-vermelho-2);
    font-size: 2em;
    padding: 14px 0px;
    text-align: center;
}

main > article > p{
    line-height: 1.5em;
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 40px;
}

footer{
    background-image: linear-gradient(180deg, var(--cor-vermelho), var(--cor-vermelho-2));
    color: white;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 20px;
    padding: 1em;
    row-gap: 2em;
    transition: filter .91s;
}

footer > div#redes-sociais, div#contactos, div#desenvolvedores{
    font-size: 12px;
    font-weight: bold;
}

footer > div#redes-sociais > div, div#contactos > div, div#desenvolvedores > div{
    /* align-content: center;
    align-items: center; */
    display: flex;
    flex-flow: row wrap;
    font-weight: normal;
    gap: 0.6em 1em;
    justify-content: center;
    padding-top: 8px;
}

footer > div#redes-sociais > div > span:hover, div#contactos > div > span:hover, div#desenvolvedores > div > span:hover{
    cursor: pointer;
    text-decoration: underline;
}

footer > P{
    font-style: italic;
    text-align: center;
}