@charset "UTF-8";

:root{
    --cor-vermelho: #85040d;
    --cor-vermelho-2: #df0816;
    --cor-amarelo: #F4BC1D;
    --cor-preto: #100000;
    --cor-rosa: #a8574e;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header, nav{
    background-color: var(--cor-vermelho);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}