@charset "UTF-8";

:root{
    --cor-vermelho: #72030b;
    --cor-vermelho-2: #e91523;
    --cor-amarelo: #F4BC1D;
    --cor-preto: #100000;
    --cor-rosa: #a8574e;
}

header, nav, div#menu-telefone{
    background-image: linear-gradient(45deg, var(--cor-vermelho), var(--cor-vermelho-2));
    height: 58px;
}

header > nav > div#menu-telefone{
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
    transition-duration: 2s;
}

header > nav > div#menu-telefone > div#btn-menu{
    padding: 20px 0px 0px 20px;
    transition-duration: 2s;
    
}

header > nav > div#menu-telefone > div#menus-telefone{
    display: flex;
    flex-flow: column nowrap;
    row-gap: 15px;
    padding: 0px 16px 15px 10px;
    transform: translateX(-600px);
    transition-duration: 2s;
}

header > nav > div#menu-telefone > div#btn-menu{
    color: white;
} 

header > nav > div#menu-telefone > div#menus-telefone > span{
    text-align: end;
}

header > nav > div#menu-telefone > div#menus-telefone > span, a{
    color: white;
    text-decoration: none;
}

header > nav > div#menu-tablet{
    display: none;
}

main{
    margin-top: 60px;
    transition: filter 3s;
}
