@charset "UTF-8";

body{
    background-color: gray;
}

header > nav > div{
    align-items: center;
    background-color: rgb(100, 7, 7);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 7px 8px;
}

header > nav > div > img{
    width: 50px;
}
header > nav > div > span{
    font-size: 0.8em;
}