@charset "UTF-8";

:root{
    --cor-vermelho: #72030b;
    --cor-vermelho-2: #e91523;
    --cor-amarelo: #F4BC1D;
    --cor-preto: #100000;
    --cor-rosa: #a8574e;
}

/* body{
    background-color: aqua;
} */

header > nav > div#menu-telefone{
    display: none;
}